*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

body{
    background-color: #f1f1f1;
}

/* Axuliary Classes */
.container{
    max-width: 1100px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

.w100{
    width: 100%;
}

.w50{
    width: 50%;
}

.w33{
    width: calc(100% / 3);
}
/* * */

/* Header - Menu */

section.menu-chamada{
    /* background: #233543; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: slide 5s infinite;
    position: relative;
}

section.menu-chamada > *{
   position: relative;
   z-index: 2;
}

@keyframes slide {
    0%{
        background-image: url(../image/img-background-1.jpg);
    }

    40%{
        background-image: url(../image/botox.jpg);
    }

    80%{
        background-image: url(../image/img-background-2.jpg);       
    }

    100%{
        background-image: url(../image/img-background-1.jpg);
    }
}

section.menu-chamada::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(35, 53, 67,.5);
    z-index: 1;
}

header{
    padding: 10px;
}

header .container .logo{
    width: 220px;
    height: 60px;
    float: left;
    background-image: url(../image/logo2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: contain;
}

nav.desktop{
    float: right;
}

nav.desktop ul{
    padding: 18px 0;
    list-style-type: none;
}

nav.desktop ul li{
    float: left;
    text-transform: uppercase;
}

nav.desktop ul li:nth-of-type(1),
nav.desktop ul li:nth-of-type(2),
nav.desktop ul li:nth-of-type(3),
nav.desktop ul li:nth-of-type(4){
    margin-right: 35px;
}

nav.desktop ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

nav.desktop ul li a:hover{
    text-decoration: underline;
}


/*  Menu-Mobile */

nav.mobile{
	display: none;
	float: right;
}

nav.mobile h3{
    cursor: pointer;
    font-size: 32px;
    color: white;
    position: relative;
    top: 12px;
    right: 0;
}
nav.mobile ul{
	display: none;
	width: 100%;
	background: #00d072;
	position: absolute;
	left: 0;
	top: 80px;
	z-index: 999;
    text-align: center;
}

nav.mobile li{
    padding:8px 0;
    text-transform: uppercase;
    border-bottom: 1px solid#ffffff;
    border-top: 1px solid #ffffff;
}

nav.mobile li a{
    color: white;
    display: block;
    font-family: 'Oxygen', sans-serif;
	text-decoration: none;
}
/* * */

/* * */
/* Chamada */
section.chamada .container{
    display: flex;
}

section.chamada .titulo-chamada{
    width: 50%;
    margin: 80px 0 0 80px;
}

section.chamada .titulo-chamada h2{
    text-transform: uppercase;
    font-size: 4em;
    color: white;
    line-height: 70px;
    font-family: 'News Cycle', sans-serif;
}

section.chamada .titulo-chamada p{
    color: white;
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
}

section.chamada .foto-chamada{
    padding-top: 40%;
    margin-right: 20px;
    width: 50%;
    background-image: url(../image/man.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

/* * */

/* Quem sou eu */
section.quem-sou-eu{
    padding: 40px 0;
}

section.quem-sou-eu .container{
    display: flex;
    justify-items: center;
    align-items: center;
    max-width: 1000px;
    background: white;
    border-radius: 0px 50px 50px 0px; 
    box-shadow: 10px 10px 5px #888888b4;
}

.img-perfil{
    width: 50%;
    height: 500px;
    background-image: url(../image/quem-sou.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.descricao{
    width: 50%;
    padding: 0 2%;
}

.titulo-sessao h2{
    color: #233543;
    font-size: 3.5rem;
    font-family: 'News Cycle', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.descricao p{
    font-size: 14px;
    font-family: 'Oxygen', sans-serif;
}

.descricao p:nth-of-type(1){
    margin-bottom: 10px;
}

.descricao p:nth-of-type(2){
    margin-top: 10px;
}

.descricao ul{
    list-style-position: inside;
}

.descricao ul li{
    color: #00d071;
    font-family: 'Oxygen', sans-serif;
}


/* * */

/* Procedimentos */
.procedimentos{
    padding: 40px 0;
}

.procedimentos .titulo-sessao h2,
.procedimentos .titulo-sessao h3{
    text-align: center;
    color: #13212c;
}

.procedimentos .titulo-sessao h3{
    margin-bottom: 10px;
}

.procedimentos .container{
    max-width: 1400px;
}

.procedimentos-container{
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    -ms-flex-align: stretch;
    justify-content: center;
}

.procedimentos-container .procedimento-single{
    margin: 10px;
    width: calc((100% / 3) - 20px);
    background: #ffffff;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 10px 10px 5px #aaaaaaa1;
}

.procedimentos-container .procedimento-single h2{
    color: #ffffff;
    font-weight: 400;
    font-family: 'News Cycle', sans-serif;
    font-size: 24px;
    background-color: #00d072;
    text-align: center;
    padding: 15px;
    position: absolute;
    left: 8%;
    width: 84%;
    margin: 0;
    bottom: -25px;
    border-radius: 50px;
    letter-spacing: 2px;
}

.procedimentos-container .procedimento-single p{
    padding: 50px 30px 30px 30px;
    font-family: 'Oxygen', sans-serif;
    color: #80919e;
    font-size: 15px;
    font-weight: 400;
}

.procedimentos-container .procedimento-single .img-procedimento{
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.procedimentos-exemplares{
    padding: 30px 0;
}

.procedimentos-exemplares .container{
    max-width: 1280px !important;
}

.procedimentos-exemplares h2{
    font-family: 'News Cycle', sans-serif;
    font-size: 28px;
}

.veja-mais{
    width: 280px;
    background: #233543;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
    margin-top: 12px;
    transition: background-color 200ms;
}

.veja-mais a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}

/* * */
/* Depoimentos */
.depoimentos{
    padding: 40px 0;
    background: #233543;
}

.depoimentos .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
   
.depoimentos .titulo-sessao{
    text-align: center;
}

.depoimentos .titulo-sessao h2{
    color: #ffffff;
    font-family: 'News Cycle', sans-serif;
    font-weight: 700;
}

.depoimentos .depoimento-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.box-depoimento{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3 - 40px);
    margin: 10px;
    background: #121e27;
}

.box-depoimento .content{
    padding: 30px;
    text-align: center;
}

.box-depoimento .content i{
    font-size: 4rem;
    color: #33d1a0;
}

.box-depoimento .content p{
    color: #ffffff;
    padding: 20px 0;
}

.box-depoimento .content img{
    width: 72px;
    border-radius: 50%;
}

.box-depoimento .content h3{
    color: #33d1a0;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}

.box-depoimento .content h4{
    color: #d7d7d7;
    font-size: 0.8rem;
    font-weight: 400;
}

/* * */

/* noticias */
section.noticias{
    padding: 40px 0;
}

section.noticias .container{
    max-width: 1220px;
}

.flex-depoimentos{
    display: flex;
}

.flex-depoimentos .img-depoimentos,
.flex-depoimentos .item{
    width: 50%;
    margin: 20px 0 40px 0;
    padding:100px 40px;
}

.flex-depoimentos .img-depoimentos{
    background-position: center;
    background-size: cover;
}

.flex-depoimentos .item h2{
    font-family: 'News Cycle', sans-serif;
    font-weight: 700;
    line-height: 40px;
    font-size: 3rem;
}

.flex-depoimentos .item p{
    font-family: 'Oxygen', sans-serif;
    padding: 20px 40px 20px 0;
    color: #b4b4b4;
}

.flex-depoimentos .item p:nth-last-child(1){
    font-family: 'Oxygen', sans-serif;
    color: #00d071;
    width: 250px;
}

.flex-depoimentos .img-depoimentos{
    order: 1;
}

.flex-depoimentos .item{
    order: 2;
}

.flex-depoimentos:nth-last-child(2) .img-depoimentos{
    order: 2 !important;
}

.flex-depoimentos:nth-last-child(2) .item{
    order: 1 !important;
}

/* Contato */
section.contato{
    padding: 40px 0;
    background: #00d071;
}

section.contato .titulo-sessao h2,
section.contato .titulo-sessao h3{
    text-align: center;
    color: #233543;
}

section.contato .container{
    max-width: 900px;
    text-align: center;
}

.form-single{
    float: left;
    padding: 0 10px;
    margin-bottom: 10px;
}

.form-single input[type=text],
.form-single input[type=email],
.form-single input[type=tel]{
    width: 100%;
    font-size: 24px;
    border: none;
    padding: 10px;
}

.form-single input[type=text]:focus,
.form-single input[type=email]:focus,
.form-single input[type=tel]:focus{
    border: 2px solid #233543;
    outline: 0;
}

input[type=submit]{
    width: 300px;
    height: 70px;
    font-size: 24px;
    color: #FFFFFF;
    background: #233543;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 11px;
    transition: background-color 200ms;
}

input[type=submit]:focus,
input[type=submit]:hover,
.veja-mais:hover{
    background-color: #13212c;
}

.form-single span{
    display: inline-block;
    color: red;
    padding: 4px 0;
}
/* * */

/* rodape */
footer{
    background: #233543;
}

.footer-wraper{
    float: left;
    padding: 0 10px;
    margin: 40px 0px 20px 0px;
}

.footer-wraper h2,
.footer-wraper p{
    color: white;
    font-weight: 400;
}

.footer-wraper h2{
    font-size: 32px;
    font-family: 'News Cycle', sans-serif;
}

.footer-wraper p{
    font-size: 20px;
    font-family: 'News Cycle', sans-serif;
}

.footer-wraper h3{
    float: left;
    margin: 20px;
    color: white;
}

.footer-wraper h3 a{
    font-size: 40px;
    color: white;
    text-decoration: none;
    font-weight: normal;
}

.footer-wraper:nth-of-type(4){
    text-align: center;
    margin: none;
    padding: none;
}

.footer-wraper:nth-of-type(4) .logo-footer{
    width: 220px;
    height: 60px;
    display: inline-block;
    background-image: url(../image/logo2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: contain;
}

/* * */
section.redes{
    padding: 40px 0;
    background: white;
}

section.redes .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook,
.instagram{
    width: 50%;
    max-width: 200px;
    padding: 50px;
    margin: 0 20px;
}

.facebook{
    border: 1px solid #3b5998;
    text-align: center;
}

.facebook i{
    color: #3b5998;
    font-size: 4rem;
}

.facebook p{
    color: #3b5998;
}

.instagram{
    border: 1px solid #C13584;
    text-align: center;
}

.instagram i{
    color: #C13584;
    font-size: 4rem;
}

.instagram p{
    color: #C13584;
}
@media screen and (max-width: 1050px){
    .procedimentos-container .procedimento-single{
        width: calc(100% / 3);
    }

    .depoimentos .depoimento-container{
        justify-content: center;
    }
}

@media screen and (max-width: 980px){
    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
    }

    .box-depoimento{
        width: calc(100% / 2 - 40px);
    }
}


@media screen and (max-width: 800px){
    .w50,
    .w33{
        width: 100%;
    }

    section.quem-sou-eu{
        margin-bottom: 80px;        
    }
    section.chamada .foto-chamada{
        display: none;
    }

    section.chamada .titulo-chamada{
        width: 100%;
        margin: 80px 10%;
    }

    section.chamada .titulo-chamada h2,
    section.chamada .titulo-chamada p{
        display: block;
        text-align: left;
    }

    section.quem-sou-eu .container{
        flex: none;
        display: block;
        background: white;
        border-radius: 0 0 20px 20px; 
        box-shadow: 10px 10px 5px #888888b4;
        padding-bottom: 20px;
    }
    .img-perfil,
    .descricao{
        padding: 0 2%;
    }

    .img-perfil{
        margin: 0 auto;
        width: 100%;
        max-height: 300px;
    }

    .descricao{
        width: 100%;
        margin-top: 20px;
    }

    .descricao p,
    .descricao ul{
        padding: 0 5%;
    }

    .titulo-sessao h2{
        font-size: 2.1rem;
        text-align: center;
    }

    .depoimentos .depoimento-container{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .procedimentos .procedimentos-container{
        flex-direction: column;
        text-align: center;
    }

    .procedimentos .titulo-sessao h3{
        margin-bottom: 0px;
    }
    

    .procedimentos-container .procedimento-single{
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 30px;
    }

    .procedimentos-container .procedimento-single h2{
        font-size: 14px;
    }
    
    .flex-depoimentos{
        flex-direction: column;
        display: inline-block;
    }
    
    .flex-depoimentos .img-depoimentos,
    .flex-depoimentos .item{
        width: 100%;
    }

    .flex-depoimentos .img-depoimentos{
        min-height: 500px;
    }

    .flex-depoimentos .item{
        margin: 0;
        padding: 0 10%;
    }
    .flex-depoimentos .item p{
        padding: none;
    }
    
    .flex-depoimentos .item p:nth-last-child(1){
        width: 100%;
    }

    .flex-depoimentos .img-depoimentos,
    .flex-depoimentos:nth-last-child(2) .img-depoimentos{
        order: 1 !important;
    }
    
    .flex-depoimentos .item,
    .flex-depoimentos:nth-last-child(2) .item{
        order: 2 !important;
    }
    
    .depoimentos .depoimento-container{
        flex-direction: column;
    }
    
    .perfil-depoimento-img{
        width: 100px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;
        border: 1px solid #ffffff;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .perfil-depoimento-nome p{
        font-size: 20px;
        font-weight: 700;
    }
    
    .perfil-depoimento-procedimento p{
        font-size: 13px;
    }


    .form-single{
        float: none;
    }

    .form-single input[type=text]::placeholder,
    .form-single input[type=email]::placeholder,
    .form-single input[type=tel]::placeholder{
        font-size: 20px;
    }

    input[type=submit]{
        width: 97%;
        display: block;
        float: none;
        margin: 0 auto;
        margin-top: 25px;
    }

    .veja-mais{
        width: 90%;
        
    }

    .footer-wraper{
        display: inline-block;
        text-align: center;
        float: none;
        margin: 20px 0;
    }

    .footer-wraper h3{
        display: inline-block;
        float: none;
        text-align: center;
    }

    .footer-wraper:nth-of-type(4){
        display: none;
    }
    .facebook,
    .instagram{
        width: 100%;
        margin-bottom: 20px;
    }

    section.redes .container{
        flex-direction: column;
    }

    .flex-depoimentos .item h2{
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px){
    .box-depoimento{
        width: 100%;
        height: auto;
        padding: 30px;
        margin: 20px 0;
    }
}

@media screen and (max-width: 320px){
    section.chamada .titulo-chamada h2{
        font-size: 3em;
    }

    .procedimentos .titulo-sessao h2,
    .depoimentos .titulo-sessao h2{
        font-size: 1.8rem;
    }

    .box-depoimento .content{
        padding: 10px;
    }
}

[data-anime] {
    opacity: 0;
    transition: .2s;
}

[data-anime="top"] {
transform: translate3d(0, -50px, 0);
}

[data-anime].animate {
opacity: 1;
transform: translate3d(0px, 0px, 0px);
}

.box{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 5%;
    border-radius: 20px;
    background:#970b0b;
}

.box h1{
    font-size: 4rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
}